.global_home {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Poppins', sans-serif;
}

.header_home {
    background-color: #B39BC8;
    height: 350px;
    box-shadow: black;
    align-items: center;
    justify-content: center;
    position: relative;
}

.presentation_home {
    width: 50%;
    min-width: 550px;
    max-width: 825px;
    height: 220px;
    position: absolute;
    top: 15px;
    left: 28%;
    border-style: solid;
    border-color: rgb(141, 120, 160);
    border-radius: 7px;
    border-width: 2px;
}

.presentation_home_title {
    font-size: 30px;
    position: absolute;
    top: 5%;
    left: 20%;
}

.presentation_home_body {
    font-size: 17px;
    position: absolute;
    top: 37%;
    left: 19%;
    margin-right: 5%;
    text-align: justify;
    line-height: 30px;
}

.first_picture {
    position: absolute;
    top: 220px;
    left: 12%;
    width: 25%;
    min-width: 220px;
    max-width: 400px;
    border-radius: 7px;
}

.box_home {
    margin-top: 18%;
}

.box_home_title {
    font-size: 40px;
    text-align: center;
}

.box_home_body {
    width: 70%;
    height: 250px;
    margin: 20px auto 100px;
    display: flex;
    /* box-shadow: 5px 5px rgba(1, 1, 1, 0.2); */
}

.box_home_first,
.box_home_second,
.box_home_third {
    width: calc(100% / 3);
    height: 100%;
    position: relative;
    text-align: center;
    padding: 30px;
    align-items: center;
    display: flex;
    flex-direction: column;

    border-style: solid;
    border-color: rgba(155, 155, 155, 0.5);
    border-width: 1px;
}

.box_home_first {
    border-radius: 5px 0px 0px 5px;
}

.box_home_second {
    border-width: 1px 0px;
}

.box_home_third {
    border-radius: 0px 5px 5px 0px;
}

.box_home_first_title,
.box_home_second_title,
.box_home_third_title {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
}

.title_icon {
    margin: 0px 10px;
}

.box_home_first_title {
    color: rgb(230, 100, 148);
}

a.first {
    background-color: rgb(230, 100, 148);
}

a.first:hover {
    background-color: rgb(187, 70, 113);
}

.box_home_second_title {
    color: rgb(161, 135, 184);
}

a.second {
    background-color: rgb(161, 135, 184); 
}

a.second:hover {
    background-color: rgb(129, 104, 151); 
}

.box_home_third_title {
    color: rgb(138, 176, 192);
}

a.third {
    background-color: rgb(138, 176, 192);
}

a.third:hover {
    background-color: rgb(108, 144, 160);
}

a.button {
    padding: 5px 15px;
    position: absolute;
    bottom: 20px;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 2px;
    color: #F0EBF4;
    text-decoration: none;
}


body {
    background-color: #F0EBF4;
}

.youtube_home {
    position: relative;
    margin-left: calc((100% - 560px)/2);
}


/* MOBILE */

@media (max-width: 769px) {
    .header_home {
        height: 450px;
    }
    
    .presentation_home {
        border: none;
        width: 95%;
        top: 90px;
        left: 2.5%;
        min-width: 0px;
    }
    
    .presentation_home_title {
        left: 10px;
        font-size: 23px;
        font-weight: 600;
        text-align: center;
    }
    
    .presentation_home_body {
        left: 10px;
    }
    
    .first_picture {
        width: 80%;
        max-height: 365px;
        max-width: 283px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 360px;
        margin: 0px auto;
    }
    
    .box_home {
        margin-top: 290px;
    }

    .box_home_body {
        flex-direction: column;
        height: 820px
    }
    
    .box_home_first,
    .box_home_second,
    .box_home_third {
        width: 90%;
        height: calc(100% / 3);
        position: relative;
        text-align: center;
        padding: 20px;
        align-items: center;
        display: flex;
        flex-direction: column;
        
    }

    .box_home_first {
        border-radius: 5px 5px 0px 0px;
    }
    
    .box_home_second {
        border-width: 0px 1px;
    }
    
    .box_home_third {
        border-radius: 0px 0px 5px 5px;
    }

    a.button {
        position: relative;
        bottom: 0px;
    }
    
    .youtube_home {
        width: 100%;
        margin-left: 0;
    }

}