.header {
    display: flex;
    background-color: #B39BC8;
    /* background-color: rgba(239, 206, 189, 1) */
}

@media (max-width: 769px) {
    .header {
        position: fixed;
        width: 100%;
        z-index: 5;
    }
}

.nav_area {
    height: 60px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.logo {
    width: 110px;
}

.first_logo,
.second_logo {
    width: 30%;
    margin: 10px;
    z-index: 0;
    align-items: center;
    justify-content: center;
    display: flex;
}

@media (max-width: 769px) {
    .first_logo, 
    .second_logo {
        display: none;
    }
}

.menu_button { /* mobile button */
    color: #fff;
    padding: 4px;
    height: 100%;
    margin-top: auto;
}

.menu_button img {
    width: 50px;
    position: absolute;
    right: 0;
    margin-right: 20px;
}

@media (min-width: 769px) {
    .menu_button {
        display: none;
    }
}

.menu_options {
    background-color: none;
    width: 100%;
    display: flex;
    justify-content:  flex-end;
}

.menu_options :hover {
    color: rgb(120, 96, 141);
}

.menu_options a, /* <Link> */
.menu_options button {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #F0EBF4;
    font-weight: bolder;
    font-size: 22px;
    font-weight: 600;
    padding: 10px 20px;
    letter-spacing: 2px;
    height: 100%;
    cursor: pointer;
    background: none;
    border: none;
    font-family: 'Poppins', sans-serif;
    outline: none;
}

.categorias {
    position: relative;
}

.categorias:hover .categorias_options {
    display: block;
}

.categorias_options {
    position: absolute;
    background-color: rgb(144, 120, 165);
    border-radius: 7px;
    display: none;
}

.categorias_options button,
.categorias_options a{
    font-size: 18px;
    color: white;
}

.cabelos_suboptions a {
    font-size: 13px;
    width: 179px;
}

.cabelos_suboptions {
    display: none;
    background-color: rgb(144, 120, 165);
    border-radius: 7px;
    position: absolute;
    /* margin-left: 10px; */
    transform: translate(97%, -47px);
}

.cabelos_div {
    position: relative;
}

.cabelos_div:hover .cabelos_suboptions {
   display: block;
}

@media (max-width: 769px) {
    .menu_options {
        display: none;
    }
    .nav_area {
        background-color: rgba(46, 60, 61, 0.2);
    }
    
}