.admin_page {
    align-items: center;
    text-align: center;

}

.title {
    font-size: 20px;
    padding: 0px 0px 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

