  
.footer {
    background-color: #4e6466;
    overflow: auto;
    color: white;
}

.copyright {
    background-color: #4e6466;
    text-align: center;
    color: rgba(255, 229, 212, 1)
}

.socialMediaTags {
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 20px 0px 0;
    width: 100%;
}

a.social {
    margin: 0 1.5rem;
    transition: transform 250ms;
    display: inline-block;
}

a.social:hover {
    /* transform: translateY(-3px);  */
    color: rgb(29, 38, 39);
}

a.instagram {
    color: rgba(255, 229, 212, 1)
}

a.twitter {
    color: rgba(255, 229, 212, 1)
}

a.youtube {
    color: rgba(255, 229, 212, 1)
}