  
.footer {
    background-color: #B39BC8;
    overflow: auto;
    color: #F0EBF4
}

.copyright {
    background-color: #B39BC8;
    text-align: center;
    color: #F0EBF4
}

.socialMediaTags {
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 20px 0px 0;
    width: 100%;
}

a.social {
    margin: 0 1.5rem;
    transition: transform 250ms;
    display: inline-block;
}

a.social:hover {
    /* transform: translateY(-3px);  */
    color: rgb(120, 96, 141);
}

a.instagram {
    color: #F0EBF4
}

a.twitter {
    color: #F0EBF4
}

a.youtube {
    color: #F0EBF4
}